[Unit]
Description=openhd-dump1090-mutability

[Service]
Type=simple
ExecStart=/usr/local/bin/openhd-dump1090-mutability --net

[Install]
WantedBy=multi-user.target
